{% extends 'myapp/base.html' %}
{% block content %}
    <div class="m-10  flex">
        <div>
            <img class="w-128 rounded-lg " src="{{item.item_image}}" alt="image">
        </div>

        <div class="mx-16 space-y-4">
            <div class="font-bold text-4xl">{{item.item_name}}</div>
            <div class="font-bold">{{item.item_desc}}</div>
            <div class="text-green-700 font-bold">${{item.item_price}}</div>

            <div>
                {% if item.user_name == request.user %}
                <a  class="bg-yellow-400 rounded-md text-white font-bold px-4 py-2" href="{% url 'myapp:update_item' item.id %}">Edit</a>
                <a class="bg-red-700 rounded-md text-white font-bold px-4 py-2" href="{% url 'myapp:delete_item' item.id %}">Delete</a>
                {% endif %}
            </div>
        </div>


        

    </div>

{% endblock %}


